<div
  data-component="story"
  data-initial-value="{{initialValue}}"
>
  <div class="alert alert-primary">
    <h4 class="alert-heading">Instructions!</h4>
    <p class="mb-0">When clicking the buttons, the value should update accordingly.</p>
  </div>
  <div>Value: <span data-ref="label" class="badge rounded-pill bg-primary"></span></div>
  <div style="margin-top: 20px">
    <button type="button" data-ref="btnToggle" class="btn btn-primary">Toggle</button>
    <button type="button" data-ref="btnEnable" class="btn btn-success">Enable</button>
    <button type="button" data-ref="btnDisable" class="btn btn-danger">Disable</button>
  </div>
</div>